[submodule "openclaw"]
	path = openclaw
	url = git@github.com:openclaw/openclaw.git
[submodule "xiaozhi-esp32"]
	path = xiaozhi-esp32
	url = git@github.com:78/xiaozhi-esp32.git
[submodule "sdkwork-agent"]
	path = sdkwork-agent
	url = git@github.com:Sdkwork-Cloud/sdkwork-agent.git
	branch = main
[submodule "sdkwork-im-sdk"]
	path = sdkwork-im-sdk
	url = git@github.com:Sdkwork-Cloud/sdkwork-im-sdk.git
	branch = main
